/* Reset básico */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0; /* Cor de fundo clara */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contêiner de login */
.login-container {
    background-color: #fff; /* Fundo branco */
    border: 1px solid #ddd; /* Borda suave */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #4b4b4b;
    margin-bottom: 20px;
}

/* Estilos para os campos de entrada */
.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #f9f9f9;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #007bff; /* Azul */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3; /* Azul mais escuro */
}
